__pycache__/
*.db
*.py[cod]
*$py.class
*.egg-info/
dist/
build/
.eggs/

.env
.venv/
venv/
env/

chroma_data/


.pytest_cache/
.mypy_cache/
.ruff_cache/

*.ipynb_checkpoints/
.DS_Store
*.swp
*.swo

uv.lock
